# Decidim clean app environment template
# Copy values to .env (development) and .env.test as needed.

DECIDIM_APPLICATION_NAME="Decidim Clean APP"
# DECIDIM_MAILER_SENDER: example@mail.com
DECIDIM_AVAILABLE_LOCALES="ca,en,es"
DECIDIM_DEFAULT_LOCALE="ca"
DECIDIM_CORS_ENABLED="true"
DECIDIM_TRACK_NEWSLETTER_LINKS="auto"
DECIDIM_THROTTLING_MAX_REQUESTS="250"
# DECIDIM_THROTTLING_PERIOD in minutes
DECIDIM_THROTTLING_PERIOD="1"
DECIDIM_FOLLOW_HTTP_X_FORWARDED_HOST="true"

RAILS_MAX_THREADS="5"
WEB_CONCURRENCY="0"
# Database configuration
DB_PORT="5432"
DB_POOL="5"
DB_HOST="localhost"
DB_DATABASE="clean_app_dev"
DB_TEST_DATABASE="clean_app_test"
DB_USERNAME="db_username"
DB_PASSWORD="db_password"
# Mailer configuration
MAILER_SMTP_ADDRESS="smtp email address"
MAILER_SMTP_DOMAIN="smtp email domain"
MAILER_SMTP_PORT="587"
MAILER_SMTP_USER_NAME="smtp email username"
MAILER_SMTP_PASSWORD="smtp email password"
MAILER_SMTP_AUTHENTICATION="plain"
MAILER_SMTP_STARTTLS_AUTO="true"
# GeoCoder configuration (developer.here.com)
GEOCODER_LOOKUP_API_KEY="here_api_key"
SECRET_KEY_BASE="run: bin/rake secret"
